@font-face {
    font-family: ScriptMTBold;
    src: url(../fonts/ScriptMTBold.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Indie+Flower');

body {
    background-image: url("../images/back.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    background-color: #cccccc;
}

#menu{
	position: relative;
	z-index: 2;
}

.ArchitextsFont{
	font-family: 'Architects Daughter', cursive;
}

.IndieFont{
	font-family: 'Indie Flower', cursive;
}

.ScriptMTBold{
	font-family: ScriptMTBold;
}

.fixcore_word{
	font-family: ScriptMTBold;
	font-size: 25px;
	color: #fff;
}
.fixcore_word:hover {
    color: #9E9D9D;
}

.menu_fonts{
	font-family: 'Encode Sans Condensed', sans-serif;
}

.menu_fonts1{
	font-family: 'Francois One', sans-serif;
}

.size_menu{
	color: #fff;
	font-size: 20px;
}

.space_menu{
    padding-left: 20px;
}

.spaceRight{
	padding-right: 20px;
}

.position_right{
	text-align: right;
}

.position_center{
	text-align: center;
}

.space_news{
    padding-left: 30px;
}

.decoration:hover{
	text-decoration: none;
}

.bg_top{
	background-image: url('../images/bg_top.png');
}

.bg_right{
	background-image: url('../images/bg_right.png');
}

.image_new_preview{
	width: 175px;
	height: 100px;
}

.color_white{
	color: white;
}

hr { 
  border-top: 2px solid #4bceb4; 
  border-bottom: 2px solid #4bceb4; 
  border-left:none; 
  border-right:none; 
  height: 6px; 
} 

.icon_class_top{
	width: 20px;
	height: 20px;
}

.icon_vp_scale1{
	position: fixed;
	width: 30px;
	height: 30px;
	left: 38px;
}